.container {
    width: 100%;
}


.mainTitle {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.One {
    width: 50%;
    float: left;
}

.Two {
    width: 50%;
    float: left;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 52px;
    margin: 0;
    width: 60%;
}

.description {
    font-size: 22px;
    width: 75%;
    color: #606060;
}

.contact {
    width: 100%;
    float: left;
    margin-top: 2%;
    margin-bottom: 7%;
}

.contact div {
    width: 50%;
    float: left;
}

.contactLeft p {
    font-size: 32px;
    width: 60%;
    color: #181717;
}

.contactRight p:nth-child(1) {
    font-size: 32px;
    color: #181717;
}

.contactRight p:nth-child(2) {
    font-size: 18px;
    color: #181717;
}

.contactRight p:nth-child(2):hover {
    text-decoration: underline;
}

.resume {
    width: 100%;
    display: flex;
    justify-content: center;
}

.info p:nth-child(n + 2){
    margin: 0;
}

.category p {
    margin: 0;
}

.italic {
    font-style: italic;
}

.category {
    width: 25%;
    font-size: 24px;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 3.55px;
}

.info {
    width: 75%;
}

.info div p:nth-child(1) {
    margin-top: 0;
}

.info i {
    font-size: 25px;
    margin: 0 2%;
    color: #606060;
}

.second {
    margin-top: '3%';
}

@media screen and (max-width: 850px) {
    .One {
        width: 100%;
    }
    .Two {
        width: 100%;
    }
    .mainTitle {
        flex-direction: column;
        margin-top: 20%;
        height: auto;
    }
    .title {
        width: 100%;
    }
    .description {
        width: 100%;
    }
    .resume {
        flex-direction: column;
    }
    .category {
        width: 100%;
        margin-bottom: 8%;
    }

    .second {
        margin-top: 12%;
    }
    .info {
        width: 100%;
        margin-bottom: 5%;
    }

    .contact {
        flex-direction: column;
    }

    .contact div{
        width: 100%;
        float: left;
    }

    .contactLeft p {
        font-size: 25px;
        width: 100%;
        color: #181717;
    }

    .contactRight p:nth-child(1) {
        font-size: 24px;
    }
    
    .contactRight p:nth-child(2) {
        font-size: 14px;
    }

    .info i {
        font-size: 25px;
        margin: 0 1.5%;
        color: #606060;
    }
}