.FirstBox p {
    margin: 0;
    font-size: 17px;
    text-align: left;
    color: #2429AF;
}

.SecondBox {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    float: left;
}

.SecondBox div {
    width: 20%;
    text-align: center;
}