.FirstBox p{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.SecondBox ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.SecondBox ul li {
    font-size: 17px;
    font-weight: 500;
    float: left;
    text-align: center;
    margin-left: 6%;
    transition: all 200ms ease-in-out;
}

.SecondBox {
    width: 50%;
    position: relative;
    float: right;
}

.SecondBox ul li::after {
    --size: 0.3em;
    display: block;
    content: '';
    width: var(--size);
    height: var(--size);
    background-color: #dfd3c3;
    border-radius: 50%;
    position: relative;
    top: 0.4em;
    left: calc(50% - var(--size) / 2);
    transition: all 200ms ease-in-out;
    opacity: 0;
    transform: translatey(1em);
}
  
.SecondBox ul li:hover::after {
    opacity: 1;
    transform: translatey(0);
}

.strike {
    position: relative;
    display: inline-block;
}
.strike::before {
    content: '';
    border-bottom: 2px solid #dfd3c3;
    width: 100%;
    position: absolute;
    right: 0;
    top: 40%;
}
