.container {
    width: 100%;
}

.container div {
    margin-top: 2%;
    margin-bottom: 2%;
}

.title {
    font-weight: 600;
    font-size: 90px;
    color: #606060;
    width: 20%;
    margin: 0;
}

.mainTitle {
    width: 100%;
    height: 81vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.projects {
    width: 100%;
    float: left;
}

.firstBox {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
}

.firstBox h2 {
    font-size: 22px;
    text-transform: uppercase;
}

.FullImageText h2 {
    font-size: 22px;
    text-transform: uppercase;
}

.FullImage {
    padding: 2%;
}

.FullImageText {
    width: 100%;
    padding-top: 2%;
}

.FullImageText p {
    width: 50%;
}

.firstBox p {
    font-size: 20px;
    width: 60%;
}

.languages {
    width: 100%;
}


.languages i {
    font-size: 1.5em;
    color: #606060;
    width: 7%;
    float: left;
}

.secondBox {
    width: 50%;
    float: left;
    text-align: center;
}