.container {
    width: 92%;
    height: 100vh;
    padding: 0 4%;
}

.title {
    font-weight: 700;
    font-size: 4.7em;
    color: #000000;
    width: 100%;
    text-transform: uppercase;
    margin: 0;
}

.main {
    display: grid;
    padding-top: 8%;
}

.subtitle {
    font-size: 1.3em;
}

.image {
    height: 100%;
}

.info {
    width: 600px;
    flex: 0 0 26%;
    height: 100%;
    display: grid;
    align-items: flex-end;
}


.horizontal {
    height: 73vh;
    overflow-x: auto; 
    display: flex;
    align-items: flex-end;
    padding-bottom: 3%;
    width: 100%;
}


.child {
    flex: 0 0 45%;
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: 60% 40%;
    font-size: 12px;
    height: 100%;
    margin: 0 0 0 2%;
    box-shadow: 3px 3px 6px rgba(#333, .3);
}

.childTwo .image {
    display: grid;
    place-items: center;
}

.languages {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 25%);
    align-items: center;
}

.languages i {
    font-size: 1.6em;
    color: #6c6c6c;
    height: 40px;
}

.childTwo {
    flex: 0 0 80%;
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: 80% 20%;
    font-size: 12px;
    height: 100%;
    margin: 0 0 0 2%;
    box-shadow: 3px 3px 6px rgba(#333, .3);
}

.projectinfo {
    text-align: left;
}

.projectinfo p {
    font-size: 1.6em;
}


.horizontal::-webkit-scrollbar {
    width: 0px;
}

/* Track */
.horizontal::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
.horizontal::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Handle on hover */
.horizontal::-webkit-scrollbar-thumb:hover {
    background: transparent; 
}